{% extends 'shared/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %} محصولات {{ category.title }} | نصرتی دکور {% endblock %}
{% block header_references %}

    <meta name="description"
          content="با محصولات متنوع نصرتی دکور، طراحی داخلی منزل یا محل کارتان را متحول کنید. انواع کابینت مدرن، کلاسیک و محصولات چوبی با کیفیت بالا و طراحی خاص."/>

    <meta name="keywords"
          content="طراحی داخلی, دکوراسیون داخلی, کابینت آشپزخانه, کابینت مدرن, کابینت کلاسیک, مقالات طراحی داخلی, ایده دکوراسیون, چیدمان منزل, بازسازی خانه, طراحی آشپزخانه, دکوراسیون منزل, ایده کابینت, رنگ کابینت, ترند دکوراسیون"/>

{% endblock %}


{% block content %}
    <main class="lg:mb-[600px] relative z-10 bg-backgroundBody dark:bg-dark">
        <section class="pt-28 sm:pb-28 max-md:pb-16 md:py-[155px] lg:py-[177px] relative z-50 overflow-hidden">
            <div id="hero-gradient-wrapper"
                 class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px] scale-75">
                <!-- Gradient Background Image: Positioned centrally with responsive sizing -->
                <img src="{% static 'images/hero-gradient-background.png' %}" alt="hero-gradient-background"
                     id="hero-gradient"
                     class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
            </div>

            <!-- Content Container -->
            <div class="container">
                <!-- Centered Content with Animation -->
                <div class="text-center reveal-me">
                    <!-- Badge Component -->
                    <div class="rv-badge" aria-label="نوع محتوا">
                        <span class="rv-badge-text">Service Categories</span>
                    </div>

                    <!-- Title and Description -->
                    <h1 class="mt-3.5 sm:mt-5 lg:mt-9 mb-3 sm:mb-4 lg:mb-7">{{ category.title }}</h1>
                    <p>با محصولات متنوع <em>نصرتی دکور</em>, انتخاب با شماست:)</p>
                </div>
            </div>
        </section>

        {% if category.parentcategory.all %}
            <section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]" dir="ltr">
                <div class="container">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-xs:px-5">
                        {% for child in category.parentcategory.all %}
                            <div class="relative group cursor-pointer reveal-me">
                                <a href="{% url 'product-page' slug=child.slug %}" class="w-full">
                                    <figure class="overflow-hidden">
                                        {% if child.photo %}
                                            {% thumbnail child.photo "800x800" quality=90 as im %}
                                                <img class="w-full h-full block transition-all duration-500 group-hover:scale-125"
                                                     loading="lazy" src="{{ im.url }}"
                                                     data-src="{{ im.url }}"
                                                     alt="{{ child.title }}">
                                            {% endthumbnail %}
                                        {% endif %}


                                    </figure>
                                    <div
                                            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500">
                                        <figure class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden">
                                            <img src="{% static 'images/icons/arrow-Icon.svg' %}" alt="Arrow Icon"
                                                 class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0">
                                            <img src="{% static 'images/icons/arrow-Icon.svg' %}" alt="Arrow Icon"
                                                 class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2">
                                        </figure>
                                        <h3 class="text-white text-2xl lg:text-[32px]">{{ child.title }}</h3>

                                    </div>
                                </a>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </section>
        {% endif %}

        <!--=====================================
   Next Project Section
======================================-->
        {% if next_category %}
            <section
                    class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative">
                <div class="absolute left-1/2 scale-y-75 scale-x-[1.8] top-1/2 -translate-y-1/2 -translate-x-1/2">
                    <img src="{% static 'images/gradient-bg.png' %}" alt>
                </div>
                <div class="container">
                    <!-- Section Heading -->
                    <h2
                            class="text-[46px] sm:text-5xl md:text-[52px] max-md:text-left max-lg:leading-[1.33] lg:text-7xl font-normal !leading-[1.3] lg:tracking-[-2.88px] mb-9 xl:mb-[50px] text-appear">
                        محصول بعدی
                    </h2>
                    <!-- Project Preview Container -->
                    <a href="{% url 'category-page' slug=next_category.slug %}">
                        <div class="flex flex-col md:flex-row items-center gap-10 reveal-me underline-hover-effect group">
                            <!-- Project Image -->

                            <figure class="md:max-w-[372px] max-md:w-full md:h-[328px] overflow-hidden">
                                {% if next_category.photo %}
                                    {% thumbnail next_category.photo "800x800" quality=90 as im %}
                                        <img class="full h-full object-cover transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                                             loading="lazy" src="{{ im.url }}"
                                             data-src="{{ im.url }}"
                                             alt="{{ category.title }}">
                                    {% endthumbnail %}
                                {% endif %}


                            </figure>

                            <!-- Project Details -->
                            <div class="self-start md:self-center">
                                <!-- Project Label -->
                                <p
                                        class="uppercase text-xs text-secondary dark:text-backgroundBody font-poppins font-normal leading-6 tracking-[8px]">
                                    Next Service
                                </p>

                                <!-- Project Title Link -->

                                <div class="blog-title mb-1">
                                    <h3 class="text-4xl md:text-[56px] md:leading-[1.2] md:tracking-[-1.68px] mt-6 mb-4">
                                        {{ next_category.title }}
                                    </h3>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}