{% extends 'shared/base.html' %}
{% load static %}
{% load thumbnail %}
{% load jalali_tags %}

{% block title %} {{ article.title }} {% endblock %}

{% block header_references %}
    <meta name="description"
          content="{{ article.description }}"/>
    <meta name="keywords"
          content="طراحی داخلی, دکوراسیون داخلی, کابینت آشپزخانه, کابینت مدرن, کابینت کلاسیک, مقالات طراحی داخلی, ایده دکوراسیون, چیدمان منزل, بازسازی خانه, طراحی آشپزخانه, دکوراسیون منزل, ایده کابینت, رنگ کابینت, ترند دکوراسیون"/>
    <!-- schema -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          <!-- title -->
          "headline": "{{ article.title }}",
          "datePublished": "{{ article.create_date }}",
          "dateModified": "{{ article.updated_at }}",
          "author": {
            "@type": "Person",
            "name": "میثم نصرتی"
          },
          "publisher": {
            "@type": "Organization",
            "name": "نصرتی دکور",
            "logo": {
              "@type": "ImageObject",
            }
          },
          "description": {{ article.description }}.",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{% url 'articles_detail' slug=article.slug %}"
          }
        }
    </script>
{% endblock %}

{% block content %}


    <main class="lg:mb-[600px] relative z-10 bg-backgroundBody dark:bg-dark" role="main" aria-label="صفحه جزئیات مقاله">
        <!--=====================================
       Page Header Details Section
    ======================================-->
        <section class="pt-32 md:pt-44 lg:pt-[200px] pb-10 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
                 aria-label="هدر مقاله">
            <!-- Gradient Background Wrapper -->
            <div id="hero-gradient-wrapper"
                 class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px] max-sm:scale-75 sm:scale-75"
                 aria-hidden="true">
                <img loading="lazy" src="{% static 'images/hero-gradient-background.png' %}" alt="" id="hero-gradient"
                     class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-[45%]">
            </div>

            <!-- Hero Content Container -->
            <div class="container reveal-me">
                <div class="text-center">
                    <!-- Badge Component -->
                    <div class="rv-badge mb-4 lg:mb-10" aria-label="نوع محتوا">
                        <span class="rv-badge-text">جزئیات وبلاگ</span>
                    </div>

                    <!-- Hero Title -->
                    <h1 class="mb-5 lg:mb-8 max-sm:max-w-md max-sm:mx-auto">
                        {{ article.title }}
                    </h1>
                </div>
            </div>
        </section>


        <!--=====================================
        Blog Details Section Area
    ======================================-->
        <section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]" aria-label="محتوای مقاله">


            <nav class="max-w-[1440px] mx-auto px-10 md:px-20 mt-5 mb-5" aria-label="مسیر ناوبری">
                <ol class="flex justify-start items-center whitespace-nowrap">
                    {% for crumb in breadcrumbs %}
                        <li class="inline-flex items-center">

                            <a href="{{ crumb.url }}"
                               class="flex items-center text-sm text-gray-500 hover:text-bold focus:outline-hidden focus:text-blue-600">
                                {{ crumb.title }}
                            </a>
                            <svg class="shrink-0 size-5 text-gray-400 mx-2" width="16" height="16"
                                 viewBox="0 0 16 16">
                                <path d="M6 13L10 3" stroke="currentColor" stroke-linecap="round"></path>
                            </svg>
                        </li>
                    {% endfor %}
                    <li class="inline-flex items-center">

                        <a href="#"
                           class="flex items-center text-sm text-gray-500 hover:text-bold focus:outline-hidden focus:text-blue-600">
                            {{ article.title }}
                        </a>

                    </li>
                </ol>

            </nav>

            <div class="max-w-[1440px] mx-auto px-10 md:px-20">
                <!-- Featured Image -->
                <figure class="w-full reveal-me max-w-[750px] max-h-[750px] mx-auto">
                    {% if article.image %}
                        {% thumbnail article.image "800x800" quality=90 as im %}
                            <img class="w-full"
                                 loading="lazy" src="{{ im.url }}"
                                 data-src="{{ im.url }}"
                                 alt="{{ article.title }}">
                        {% endthumbnail %}
                    {% endif %}

                </figure>

                <!-- Blog Content Wrapper -->
                <div
                        class="flex flex-col gap-10 lg:flex-row justify-start mt-12 md:mt-[60px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
                    <!-- Sidebar -->
                    <aside class="min-w-[275px] flex-1">
                        <div class="sticky top-23 max-md:mb-7">
                            <div class="reveal-me">
                                <!-- Table of Contents -->
                                <h3 class="max-sm:text-[35px] max-md:text-[40px] md:text-[32px] mt-2 mb-4 lg:mb-10">
                                    فهرست مطالب
                                </h3>
                                <ul class="[&>*:not(:last-child)]:mb-2 md:[&>*:not(:last-child)]:mb-4"
                                    aria-label="فهرست مطالب مقاله">
                                    {% for blog in article.article_detail_set.all|slice:":3" %}
                                        <li>
                                            <a href="#{{ blog.id }}"
                                               class="text-xl normal-case font-normal leading-7 dark:text-dark-100 hover:font-medium hover:text-secondary dark:hover:text-backgroundBody transition-all lenis-scroll-to"
                                               aria-label="رفتن به بخش آشنایی با پروژه">
                                                {{ blog.title }}
                                            </a>
                                        </li>
                                    {% endfor %}


                                </ul>
                                <!-- author -->
                                <a href="{% url 'about-page' %}" class="flex gap-3 items-center mt-10"
                                   aria-label="مشاهده پروفایل نویسنده">
                                    <img class="author-img" src="{% static 'images/blog-img/blog-img-13.png' %}"
                                         alt="میثم نصرتی">
                                    <span>meysam nosrati</span>
                                </a>
                                <p class="text-[15px] mt-5">
                                    <time datetime="2000-11-05">{{ article.create_date|to_jalali:"%Y/%m/%d" }}</time>
                                    : data writed
                                </p>
                                <p class="text-[15px]">
                                    <time datetime="2000-11-05">{{ article.updated_at|to_jalali:"%Y/%m/%d" }}</time>
                                    : data updated
                                </p>

                            </div>
                        </div>
                    </aside>

                    <!-- Main Article Content -->
                    <article class="blog-details-body" aria-label="متن مقاله">
                        {% for blog in article.article_detail_set.all %}
                            <div class="{% if forloop.first %}{% else %}reveal-me{% endif %}">
                                <h3 id="{{ blog.id }}">
                                    {{ blog.title }}
                                </h3>
                                {% if blog.image %}
                                    <figure class="reveal-me">
                                        {% if blog.image %}
                                            {% thumbnail blog.image "800x800" quality=90 as im %}
                                                <img class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                                                     loading="lazy" src="{{ im.url }}"
                                                     data-src="{{ im.url }}"
                                                     alt="{{ blog.title }}">
                                            {% endthumbnail %}
                                        {% endif %}

                                    </figure>
                                {% endif %}
                                {{ blog.content | safe }}
                                <div class="banner-container reveal-me my-3">
                                    {% for pair in banners %}
                                        <div class="banner">
                                            {% for banner in pair %}
                                                {% if banner %}
                                                    <a href="{{ banner.link }}" class="slide">

                                                        {% if banner.image %}
                                                            {% thumbnail banner.image "800x800" quality=90 as im %}
                                                                <img loading="lazy" src="{{ im.url }}"
                                                                     data-src="{{ im.url }}"
                                                                     alt="{{ banner.title }}">
                                                            {% endthumbnail %}
                                                        {% endif %}
                                                        <div class="slide-content">
                                                            <h4 class="banner-bg p-2">{{ banner.title }}</h4>
                                                        </div>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>


                        {% endfor %}


                    </article>
                </div>
                {% if article.recommended_products.all %}
                    <!-- Related Articles Grid -->
                    <div
                            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center items-center md:items-start gap-6 gap-y-12 pt-7 md:pt-8 lg:pt-10 xl:pt-14"
                            aria-label="مقالات مرتبط">
                        {% for blog in article.recommended_products.all %}
                            <div class="max-w-[370px] reveal-me group">
                                <figure class="overflow-hidden">
                                    {% if blog.image %}
                                        {% thumbnail blog.image "800x800" quality=90 as im %}
                                            <img class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                                                 loading="lazy" src="{{ im.url }}"
                                                 data-src="{{ im.url }}"
                                                 alt="{{ blog.title }}">
                                        {% endthumbnail %}
                                    {% endif %}

                                </figure>
                                <p class="text-sm leading-[1.1] tracking-[1.12px] uppercase font-poppins font-normal mt-[30px] mb-5">
                                    SEPTEMBER 10, 2024
                                </p>
                                <a href="{% url 'articles_detail' slug=blog.slug %}"
                                   aria-label="{{ blog.title }}">
                                    <div class="blog-title mb-9">
                                        <h3 class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]">
                                            {{ blog.title }}
                                        </h3>
                                    </div>
                                </a>

                                <a href="{% url 'articles_detail' slug=blog.slug %}"
                                   class="rv-button rv-button-primary2">
                                    <div class="rv-button-top !text-center flex items-center">
                                        <span class="pr-1">3 minute read</span>
                                        <img loading="lazy" class="inline dark:hidden"
                                             src="{% static 'images/icons/top-arrow.svg' %}"
                                             alt="Arrow Icon">
                                        <img loading="lazy" class="hidden dark:inline"
                                             src="{% static 'images/icons/top-arrow-dark.svg' %}"
                                             alt="Arrow Icon">
                                    </div>
                                    <div class="rv-button-bottom !text-center flex items-center">
                                        <span class="pr-1">3 minute read</span>
                                        <img loading="lazy" class="inline"
                                             src="{% static 'images/icons/top-arrow.svg' %}"
                                             alt="Arrow Icon">
                                    </div>
                                </a>
                            </div>
                        {% endfor %}


                    </div>
                {% endif %}

            </div>
        </section>

        <!--=====================================
       CTA Section
    ======================================-->
        {% include 'component/contact_us.html' %}

    </main>

{% endblock %}