{% extends 'shared/base.html' %}
{% load static %}
{% load thumbnail %}
{% load jalali_tags %}

{% block title %}وبلاگ طراحی داخلی و کابینت | نصرتی دکور {% endblock %}

{% block header_references %}
    <meta name="description"
          content="جدیدترین مقالات طراحی داخلی و کابینت، ایده‌های دکوراسیون، راهکارهای بهینه‌سازی فضا و نکات کاربردی برای زیباسازی منزل را اینجا بخوانید."/>
    <meta name="keywords"
          content="طراحی داخلی, دکوراسیون داخلی, کابینت آشپزخانه, کابینت مدرن, کابینت کلاسیک, مقالات طراحی داخلی, ایده دکوراسیون, چیدمان منزل, بازسازی خانه, طراحی آشپزخانه, دکوراسیون منزل, ایده کابینت, رنگ کابینت, ترند دکوراسیون"/>
{% endblock %}

{% block content %}

    <main class="lg:mb-[600px] relative z-10 bg-backgroundBody dark:bg-dark">
        <!--=====================================
       Page Header Section
    ======================================-->
        <section class="pt-28 sm:pb-28 max-md:pb-16 md:py-[155px] lg:py-[177px] relative z-50 overflow-hidden">
            <div id="hero-gradient-wrapper"
                 class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px] scale-75">
                <!-- Gradient Background Image: Positioned centrally with responsive sizing -->
                <img loading="lazy" src="{% static 'images/hero-gradient-background.png' %}"
                     alt="hero-gradient-background"
                     id="hero-gradient"
                     class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
            </div>

            <!-- Content Container -->
            <div class="container">
                <!-- Centered Content with Animation -->
                <div class="text-center reveal-me">
                    <!-- Badge Component -->
                    <div class="rv-badge" aria-label="نوع محتوا">
                        <span class="rv-badge-text">Blog</span>
                    </div>

                    <!-- Title and Description -->
                    <h1 class="mt-3.5 sm:mt-5 lg:mt-9 mb-3 sm:mb-4 lg:mb-7">مطالب خواندنی و کاربردی</h1>
                    <p>در این بخش میتوانید به همه مقاله های مفید ما دسترسی داشته باشید.</p>
                </div>
            </div>
        </section>


        <section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
            <div class="container">


                <article
                        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center items-center md:items-start gap-6 gap-y-12"
                        aria-label="مقالات ویژه">
                    {% for article in articles %}
                        <div class="max-w-[370px] reveal-me underline-hover-effect group">
                            <figure class="overflow-hidden">
                                {% if article.image %}
                                    {% thumbnail article.image "800x800" quality=90 as im %}
                                        <img class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                                             loading="lazy" src="{{ im.url }}"
                                             data-src="{{ im.url }}"
                                             alt="{{ article.title }}">
                                    {% endthumbnail %}
                                {% endif %}

                            </figure>
                            <p class="text-sm leading-[1.1] tracking-[1.12px] uppercase font-poppins font-normal mt-[30px] mb-5">
                                {{ article.create_date|to_jalali:"%Y/%m/%d" }}
                            </p>
                            <a href="{% url 'articles_detail' slug=article.slug %}"
                               aria-label="مشاهده مقاله تغییر چهره تبلیغات دیجیتال">
                                <div class="blog-title mb-9">
                                    <h3 class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]">
                                        {{ article.title }}
                                    </h3>
                                </div>
                            </a>

                            <a href="{% url 'articles_detail' slug=article.slug %}" class="rv-button rv-button-primary2"
                               aria-label="مطالعه مقاله در 3 دقیقه">
                                <div class="rv-button-top !text-center flex items-center">
                                    <span class="pr-1">3 minute read</span>
                                    <img loading="lazy" class="inline dark:hidden"
                                         src="{% static 'images/icons/top-arrow.svg' %}"
                                         alt=""
                                         aria-hidden="true">
                                    <img loading="lazy" class="hidden dark:inline"
                                         src="{% static 'images/icons/top-arrow-dark.svg' %}"
                                         alt="" aria-hidden="true">
                                </div>
                                <div class="rv-button-bottom !text-center flex items-center">
                                    <span class="pr-1">3 minute read</span>
                                    <img loading="lazy" class="inline" src="{% static 'images/icons/top-arrow.svg' %}"
                                         alt=""
                                         aria-hidden="true">
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </article>

                <div class="flex justify-center items-center mt-10 md:mt-14 reveal-me">
                    <nav class="pagination-container pt-2" aria-label="صفحه‌بندی">
                        <ul class="flex flex-wrap justify-center items-center gap-2 md:gap-3" dir="ltr">
                            {% if page_obj.has_previous %}

                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}"
                                       class="pagination-arrow flex items-center justify-center w-10 h-10 rounded-md border border-secondary/20 hover:border-secondary hover:bg-secondary/10 transition-all duration-300 {% if page_obj.number == pageNumber %} bg-secondary/20 font-medium {% endif %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rtl:rotate-180"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M15 19l-7-7 7-7"/>
                                        </svg>
                                    </a>
                                </li>
                            {% endif %}
                            {% for pageNumber in paginator.page_range %}

                                <li>
                                    <a class="flex items-center justify-center w-10 h-10 rounded-md border border-secondary/20 hover:border-secondary hover:bg-secondary/10 transition-all duration-300 {% if page_obj.number == pageNumber %} bg-secondary/20 font-medium {% endif %}"
                                       href="?page={{ pageNumber }}">
                                        {{ pageNumber }}
                                    </a>
                                </li>

                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}"
                                       class="pagination-arrow flex items-center justify-center w-10 h-10 rounded-md border border-secondary/20 hover:border-secondary hover:bg-secondary/10 transition-all duration-300 {% if page_obj.number == pageNumber %} bg-secondary/20 font-medium {% endif %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rtl:rotate-180"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M9 5l7 7-7 7"/>
                                        </svg>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </section>


        <!--=====================================
       CTA Section
    ======================================-->
        {% include 'component/contact_us.html' %}
    </main>


{% endblock %}