{% extends 'shared/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    نصرتی دکور
{% endblock %}

{% block content %}


    <main class="lg:mb-[600px] relative z-10 bg-backgroundBody dark:bg-dark">
        <!--=====================================
       Hero Section
    ======================================-->
        <section dir="ltr" class="pt-37 md:pt-32 max-sm:px-3 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden">
            <!-- Gradient Background Wrapper -->
            <div id="hero-gradient-wrapper"
                 class="absolute w-2/6 h-2/6 top-40 left-[12%] -z-10 blur-[35px] md:blur-[60px]">
                <img src="{% static 'images/hero-gradient-background.png' %}" alt="hero-gradient-background"
                     id="hero-gradient"
                     class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
            </div>

            <div class="max-w-screen-xl px-5 mx-auto">
                <div class="reveal-me">
                    <h1
                            class="xl:text-[96px] font-semibold xl:leading-[1.1] xl:tracking-[-2.88px] max-lg:text-center font-satoshi">
                        {{ firstContent.title }}
                        <a href="#products">
                            <div class="cta-slider-container max-sm:block sm:inline-block max-sm:mb-7 translate-y-5"
                                 id="cta-img">
                                <div class="cta-inline-slider">
                                    <div class="slide">
                                        <img src="{% static 'images/agent/01.jpg' %}" alt="Slide 1">
                                    </div>
                                    <div class="slide">
                                        <img src="{% static 'images/agent/02.jpg' %}" alt="Slide 2">
                                    </div>
                                    <div class="slide">
                                        <img src="{% static 'images/agent/03.jpg' %}" alt="Slide 3">
                                    </div>
                                </div>
                            </div>
                        </a>
                        Best Ideas, For Your Place.
                    </h1>
                </div>
            </div>

            <!-- skew Marquee Start -->
            <div style="
      transform: translate3d(-200px, 0px, 0px) scale3d(1, 1, 1) rotateX(30deg)
        rotateY(17deg) rotateZ(342deg) skew(7deg, 359deg);
      transform-style: preserve-3d;
    " id="skew-Marquee">
                <div class="pb-16 lg:pb-48 pt-24">
                    <!-- Marquee Wrapper -->
                    <div class="relative">
                        <!-- Infinite Scroll Container -->
                        <div
                                class="z-50 flex gap-5 w-fit flex-nowrap whitespace-nowrap will-change-transform marquee-inner reveal-me">
                            {% for product in products %}
                                <figure class="marquee-part flex items-center justify-center size-[370px] z-50 flex-shrink-0">
                                    {% if product.photo %}
                                        {% thumbnail product.photo "800x800" quality=90 as im %}
                                            <a href="{% url 'product-page' slug=product.category.slug %}"><img
                                                    src="{{ im.url }}" alt="{{ product.title }}"></a>
                                        {% endthumbnail %}
                                    {% endif %}

                                </figure>

                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--=====================================
       About Section with Gallery
    ======================================-->
        <section
                class="pt-0 lg:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden -z-10 bg-backgroundBody dark:bg-dark">
            <div class="container">
                <!-- About Content and Subscription -->
                <div>
                    <!-- About Text -->
                    <h3 class="reveal-text-2 lg:text-3xl lg:leading-[1.5] text-secondary dark:text-backgroundBody">
                        {{ firstContent.description }}
                    </h3>
                </div>
            </div>
        </section>


        <!--=====================================
       Case Studies Section
    ======================================-->
        <section id="products"
                 class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
            <div class="container">
                <!-- Section Header -->
                <div
                        class="flex flex-col md:flex-row gap-x-10 gap-y-4 justify-center lg:justify-between items-start md:items-end mb-10 md:mb-20">
                    <!-- Title -->
                    <h2 class="text-appear flex-1">
                        <span class="font-instrument lg:text-[70px] italic">Recent</span>
                        <br class="hidden md:block">
                        Case Studies
                    </h2>

                    <!-- Description -->
                    <div class="md:self-end flex-1">
                        <p class="text-appear max-w-lg">
                            When sharing recent case studies, focus on key aspects that highlight
                            your agency's work and impact. Here's a simple structure to follow.
                        </p>
                    </div>
                </div>

                <!-- Case Studies Grid -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-9">
                    {% for category in categories %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="md:mt-20 reveal-me underline-hover-effect group">
                                <a href="{% url 'category-page' slug=category.slug %}">

                                    <figure class="overflow-hidden">
                                        {% if category.photo %}
                                            {% if category.photo %}
                                                {% thumbnail category.photo "800x800" quality=90 as im %}
                                                    <img class="full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                                                         loading="lazy" src="{{ im.url }}"
                                                         data-src="{{ im.url }}"
                                                         alt="{{ category.title }}">
                                                {% endthumbnail %}
                                            {% endif %}

                                        {% endif %}

                                    </figure>
                                    <div class="blog-title mt-[30px] text-center">
                                        <h3 class="capitalize text-center">{{ category.title }}</h3>
                                    </div>
                                </a>
                            </div>

                        {% else %}
                            <!-- Case Study 1 - Staticmania -->
                            <div class="reveal-me underline-hover-effect group">
                                <a href="{% url 'category-page' slug=category.slug %}">
                                    <figure class="overflow-hidden">
                                        {% if category.photo %}
                                            {% thumbnail category.photo "800x800" quality=90 as im %}
                                                <img class="full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                                                     loading="lazy" src="{{ im.url }}"
                                                     data-src="{{ im.url }}"
                                                     alt="{{ category.title }}">
                                            {% endthumbnail %}
                                        {% endif %}

                                    </figure>
                                    <div class="blog-title mt-[30px] text-center">
                                        <h3 class="capitalize text-center">{{ category.title }}</h3>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}


                </div>

            </div>
        </section>


        <!--=====================================
       Services Accordion Section
    ======================================-->
        <section
                class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden">
            <div
                    class="absolute scale-y-[3.8] sm:scale-y-[3.3] md:scale-y-[3.2] lg:scale-y-[2.4] xl:scale-y-[1.2] scale-x-[2.7] xl:scale-x-[2.4] left-1/2 top-[47%] lg:top-[45%] -translate-y-[45%] -translate-x-1/2">
                <img loading="lazy" src="/static/images/services-gradient-bg-2.png" alt="gradient-bg">
            </div>
            <div class="container">

                <!-- Accordion Container -->
                <div class="max-w-[1170px] w-full mx-auto [&>*:not(:last-child)]:mb-6 reveal-me">
                    {% for main in mains %}
                        <div class="accordion-item overflow-hidden bg-secondary duration-300">
                            <div class="accordion-header relative cursor-pointer py-[35px] flex justify-between px-5 md:px-10 group">
                                <h3
                                        class="flex flex-col md:flex-row md:items-center gap-x-10 gap-y-3 text-[25px] lg:text-5xl md:font-medium font-normal leading-[25.2px] md:leading-[1.2] text-white">
                                    <span class="text-inherit"> {{ main.title }} </span>
                                    <span class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] text-[#ffffff99] mt-2 pr-[2px]">
                  {{ main.description }}
                </span>
                                </h3>
                                <div class="accordion-header-iconV3">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"
                       class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 ease-faq-body-transition duration-300">
                    <path d="M5 16H27" stroke="black" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M18 7L27 16L18 25" stroke="black" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                  </svg>
                </span>
                                </div>
                            </div>
                            <div
                                    class="accordion-body px-10 duration-300 h-0 flex flex-col md:flex-row justify-start gap-7 md:gap-14 md:ml-5">
                                {{ main.content | safe }}
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>


        <!--=====================================
       Featured Insights Section
    ======================================-->
        <section class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] z-20">
            <div class="container">
                <!-- Section Header -->
                <div
                        class="flex flex-col md:flex-row gap-y-4 gap-x-10 justify-center lg:justify-between items-start lg:items-center mb-10 md:mb-20">
                    <h2 class="text-appear flex-1">
                        <span class="font-instrument lg:text-[70px] italic">Insights</span>
                        <br class="hidden lg:block">
                        Stories
                    </h2>

                    <div class="lg:self-end max-md:w-full flex-1">
                        <p class="text-appear md:justify-self-end max-w-lg md:text-right">
                            Deep dives into emerging technologies, design trends, and digital
                            transformation strategies.
                        </p>

                        <ul class="justify-self-end max-md:w-full mt-5 md:mt-10 reveal-me">
                            <li class="block md:inline-block w-full mx-auto md:w-auto text-center">
                                <a href="{% url 'article_page' %}"
                                   class="rv-button rv-button-white block md:inline-block">
                                    <div class="rv-button-top">
                                        <span>Explore Our Blogs</span>
                                    </div>
                                    <div class="rv-button-bottom">
                                        <span>Explore Our Blogs</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Blog Posts Grid -->
                <div
                        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center items-center lg:items-start gap-6 max-lg:gap-y-10">
                    <!-- Blog Post 1 -->
                    {% for article in articles %}
                        <div class="reveal-me md:max-w-[355px] group">
                            <a href="{% url 'articles_detail' slug=article.slug %}" class="w-full">
                                <figure class="overflow-hidden">
                                {% if article.image %}
                                	{% thumbnail article.image "800x800" quality=90 as im %}
                                        <img class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
                                             loading="lazy" src="{{ im.url }}"
                                             data-src="{{ im.url }}"
                                             alt="{{ article.title }}">
                                    {% endthumbnail %}
                                {% endif %}


                                </figure>
                                <div class="rv-badge mt-7">
                                    <span class="rv-badge-text">Artificial Intelligence</span>
                                </div>
                                <div class="blog-title mt-5 mb-[30px]">
                                    <h3 class="text[25px] md:text-3xl lg:leading-[1.2] lg:tracking-[-0.72px]">
                                        {{ article.title }}...
                                    </h3>
                                </div>

                                <a href="{% url 'articles_detail' slug=article.slug %}"
                                   class="rv-button rv-button-primary2 w-full md:w-auto">
                                    <div class="rv-button-top !text-center flex items-center">
                                        <span class="pr-1">5 minute read</span>
                                        <img loading="lazy" class="inline dark:hidden"
                                             src="/static/images/icons/top-arrow.svg"
                                             alt="Arrow Icon">
                                        <img loading="lazy" class="hidden dark:inline"
                                             src="/static/images/icons/top-arrow-dark.svg"
                                             alt="Arrow Icon">
                                    </div>
                                    <div class="rv-button-bottom !text-center flex items-center">
                                        <span class="pr-1">5 minute read</span>
                                        <img loading="lazy" class="inline" src="/static/images/icons/top-arrow.svg"
                                             alt="Arrow Icon">
                                    </div>
                                </a>
                            </a>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>


        <!--=====================================
       FAQ Section
    ======================================-->
        <section
                class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden">
            <div
                    class="absolute scale-y-[3.4] sm:scale-y-[1.6] md:scale-y-[1.5] lg:scale-y-[1.5] xl:scale-y-[1.4] 2xl:scale-y-[1] scale-x-[2.8] md:scale-x-[1.9] lg:scale-x-[1.7] left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 -z-30">
                <img src="/static/images/gradient-bg.png" alt="gradient-bg">
            </div>
            <div class="container">
                <!-- FAQ Section Title -->
                <h2 class="mb-10 md:mb-20 text-center text-appear">
                    Frequently Asked <span class="font-instrument italic">Questions</span>
                </h2>

                <!-- FAQ Items Container -->
                <div class="max-w-[900px] w-full mx-auto [&>*:not(:last-child)]:mb-6 reveal-me">
                    <!-- FAQ Item 1 -->
                    {% for answer in answers %}
                        <div
                                class="accordion-item overflow-hidden bg-backgroundBody dark:bg-dark border border-transparent dark:border-transparent duration-300">
                            <div class="accordion-header relative cursor-pointer py-5 md:py-[35px] max-md:px-5 md:px-10">
                                <h3
                                        class="text-lg sm:text-xl md:text-[25px] font-normal sm:font-bold md:leading-[25.2px] md:tracking-normal max-md:inline-block max-lg:pr-10">
                                    {{ answer.question }}
                                </h3>
                                <div class="accordion-header-icon dark:border-dark"></div>
                            </div>
                            <p class="accordion-body max-md:text-sm max-md:px-5 md:px-10 duration-300 h-0">
                                {{ answer.answer }}
                            </p>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>


        <!--=====================================
       CTA Section
    ======================================-->
        <section class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-20 lg:pb-28 relative overflow-hidden">
            <div class="absolute scale-x-[2.5] scale-y-[0.75] left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2">
                <img loading="lazy" src="/static/images/gradient-bg.png" alt>
            </div>
            <div class="container">
                <!-- CTA Heading -->
                <h2 class="text-center xl:text-[96px] font-normal xl:leading-[1.1] xl:tracking-[-2.88px]">
                    مشاوره میخوای؟
                    <div
                            class="cta-slider-container max-sm:block sm:inline-block max-sm:mb-5 translate-y-2 sm:translate-y-[20px] max-sm:mt-2.5">
                        <div class="cta-inline-slider">
                            <div class="slide">
                                <img loading="lazy" src="/static/images/agent/01.jpg" alt="Slide 1">
                            </div>
                            <div class="slide">
                                <img loading="lazy" src="/static/images/agent/02.jpg" alt="Slide 2">
                            </div>
                            <div class="slide">
                                <img loading="lazy" src="/static/images/agent/03.jpg" alt="Slide 3">
                            </div>
                        </div>
                    </div>

                    <span class="font-instrument sm:mt-10 italic block max-md:inline-block">ما باهات تماس میگیریم</span>
                </h2>

                <!-- CTA Buttons -->
                <ul class="flex justify-center items-center mt-14 list-none">
                    <!-- Primary CTA Button -->
                    <li class="block md:inline-block w-full mx-auto md:w-auto text-center">
                        <a href="{% url 'contact-us' %}" class="rv-button rv-button-primary block md:inline-block">
                            <div class="rv-button-top">
                                <span>Contact Us</span>
                            </div>
                            <div class="rv-button-bottom">
                                <span class="text-nowrap">Contact Us</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>

{% endblock %}